
*{
  box-sizing:border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}


.Lz{
  max-width:600px;
  margin-top:50px;
  margin-bottom:50px;
}

html{
  scroll-behavior:smooth;
  
}
.App {
  text-align: center;
  position:absolute;
  width:100%;
  min-height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:white;
  background-image:linear-gradient(
    to bottom,
    rgba(129, 207, 224, .7) ,
    rgba(250, 250, 250, .6),
    rgba(250, 250, 250, .4),
    rgba(250, 250, 250, .2),
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0),
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ,
    rgba(250, 250, 250, 0) ) ,
  url('../../imgs/blueBall.png');
  background-size:fill;
  background-repeat:no-repeat;
  background-position:top center;
  overflow:hidden;
  overflow-y:auto;
}

.Main{
  flex:1;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:white;
}

.center-secs{
  flex:1;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}



.sec-title{
   animation: text-shadow 2.5s linear infinite;
    font-weight: 900;
    line-height: 1;
     transition-delay: 2s;
}



.montiel{
border-radius:100%;
margin:0px 5px;
   animation: text-shadow-an-flex 2.5s linear infinite;
     transition-delay: 2s;

}



@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        
    }

    20% {  
        transform: translateY(-1em);
        
    }

    40% {  
        transform: translateY(0.5em);
       
    }
    
   60% {
        transform: translateY(-0.25em);
        
    }

    80% {  
        transform: translateY(0);
        
    }
}



@keyframes text-shadow-an-flex {
    0% {  
transform:scale(1.2);
        
    }

    20% {  
transform:scale(.6);
        
    }

    40% {  
transform:scale(1.4);
       
    }
    
   60% {
transform:scale(1);
        
    }

    80% {  
transform:scale(1.2);
        
    }
}




@media screen and (max-width:800px){

.App {
  background-size:100%;
  background-position: top center;
}

}