
*{
  box-sizing:border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}


html{
  scroll-behavior:smooth;
  height:100%;
  width:100%;

}



.efc{
 text-align: center;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-size:fill;
  background-repeat:no-repeat;
  background-position:top center;
  background-color:#fff;
  overflow:hidden;
  overflow-y:auto;
}



.App {
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;



}


.home-page{
  text-align: center;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}




.About {
    text-align: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}

:is(.modal-x,.modal div){
  background:rgba(0,0,0,0);
  border:none;
}
.modal-header{
  -webkit-text-fill-color:red;
  color:red;
  display:flex;
  justify-content:center;
  align-items:center;
}
.modal-header i{
  position:absolute;
  right:0;
}

@media screen and (max-width:700px){

.App {
  background-size:100%;
  background-position: top center;
}



.About {
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-size:cover;
  background-position:top center;
  background-image:none;
  position:relative;
  left:0;
  top:0;
  height:100%;
  width:100%;
}



}
